/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0;
	width: 100%;
}
#main_container {
	width: 100%;
	float: left;
	margin: 0 auto;
	background: black;
}
#inside_container {
	width: 100%;
	background: black;
	text-align: center;
}
footer {
	width: 100%;
	float: left;
	background: black;
	height: 100px;
	position: fixed;
	bottom: 0;
}
#link_holder {
	width: 50%;
	margin-left: 25%;
	background: gray;
}
h1 {
	color: royalblue;
	
}
h1:hover {
	color: white;
}
ul {
	list-style: none;
	margin-left: 23%;
}
ul li {
	float: left;
	padding: 5%;
}

a {
	text-decoration: none;
	color: royalblue;
	font-size: 1.5em;
	font-weight: bold;
}

a:hover {
	color: white;
	border-bottom: 4px solid white;
	padding-bottom: 5px;
}